/**/
.header{grid-area: header;}

/**/
.a {
    display: grid;
    background-color: #10403B;
    margin: 5px;
    padding: 10px 5px;
}
nav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    background-color: #127369;
    margin: 5px;
    padding: 10px 5px;

}
a{
    font-size: 1.5em;
    line-height: 30px;
    margin: 0px 10px;
}
a:nth-child(3){
    grid-column: 6;
}
section{
    font-size: 2em;
    background-color: #BFBFBF;
    padding: 10px;
}
aside{
    display: grid;
    font-size: 1em;
    padding: 10px;
    width: 300px;
    background-color: #4C5958;
}
footer{
    font-size: 1em;
    font-weight: bold;
    line-height: 50px;
    margin: 5px 5px;
    padding: 10px;
    background-color: #10403B;
    text-align: center;
}
/**/
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: #127369;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: #4C5958;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}